In [3]:
import numpy as np
import pandas as pd

In [2]:
dict1={
       "name"  : ['harry','mini','sofia','us'],
       "marks" : [30,53,87,76],
       "add" : ['India','argentina','finland','france']
        }

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

    name  marks        add
0  harry     30      India
1   mini     53  argentina
2  sofia     87    finland
3     us     76     france

In [5]:
df.to_csv('report.csv')

PermissionError: [Errno 13] Permission denied: 'report.csv'

In [ ]:
df.to_csv('report_index_false.csv',index=False)

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
df.describe()

In [ ]:
p=pd.read_csv('p.csv')

In [ ]:
p

In [ ]:
p['speed'][0]=70

In [6]:
mylist=[5.6,6.1,1.4,0.5]
myarray=np.array(mylist)
print(myarray)

[5.6 6.1 1.4 0.5]

In [8]:
myseries=pd.Series(data=mylist)
print(myseries)

0    5.6
1    6.1
2    1.4
3    0.5
dtype: float64

In [10]:
mylabel=["first","second","third","fourth"]
myseries2=pd.Series(data=mylist,index=mylabel)
print(myseries2)

first     5.6
second    6.1
third     1.4
fourth    0.5
dtype: float64

In [11]:
myseries3=pd.Series([6.7,5.3,7.8,3.3],["first","second","third","fourth"])
print(myseries3)

first     6.7
second    5.3
third     7.8
fourth    3.3
dtype: float64

In [12]:
print(myseries2+myseries3)

first     12.3
second    11.4
third      9.2
fourth     3.8
dtype: float64

In [17]:
#we can create a new dataframe
df2= pd.DataFrame(np.random.randn(5,5))
df2

          0         1         2         3         4
0  0.833580 -0.786162  0.896965  0.293343 -0.844546
1 -1.321721  0.185284 -0.945907 -1.045131 -0.500116
2 -1.242150 -0.068175  0.121214 -0.269993 -1.088593
3 -0.964895 -0.462464 -0.407853  0.997913  1.749084
4 -0.615385 -1.139540  0.158937 -1.101966  0.169867